@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet');

@import 'normalize';

* {
    box-sizing: border-box;
}

html {
    height: 100%;
    font-size: 10px;
}

body {
    min-height: 100%;
    font: 1.5rem/1.6 'Roboto', sans-serif;
    background-color: rgb(204, 204, 204);
}

.container {
    margin: 0 auto;
    max-width: 1350px;
    width: 96%;
    // outline: 2px dashed red;
}

// Start
.offer {
    width: 2560px;
    height: 700px;
    background-color: #f3f9ff;
    background-image: url(../img/bg.png);
    background-repeat: no-repeat;
    background-size: contain;
    z-index: 1;
    box-shadow: inset -1300px 0px 50px 0px rgba(243,249,255,1);
    &__wrap {
        height: 100%;
        width: 100%;
        background: linear-gradient(to left, #f3f9ff, #f3f9ff85);
        z-index: 3;
    }
    &__bullets {
        list-style: none;
        padding: 1rem 0;
        margin: 0 0 2rem 0rem;
        // padding-top: 1rem;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        // outline: 2px dashed red;
    }
    &__bullet {
        font-size: 1.6rem;
        line-height: 1.8rem;
        color: #666666;
        font-weight: 400;
        font-style: italic;
        font-family: "Roboto";
        &--name {
            font-size: 22px;
            line-height: 40px;
            color: #383334;
            font-weight: 900;
            font-family: "Roboto";
            font-style: normal;
            margin: 0 5rem;
        }
        &--medal {
            margin: 0 3rem;
            display: flex;
            align-items: center;
            &::before {
                content: "";
                display: block;
                background-image: url(../img/bullets/medal.svg);
                background-size: 100% 100%;
                background-repeat: no-repeat;
                width: 4.4rem;
                height: 4.4rem;
                margin-right: 1rem;
            }
        }
        &--recomend {
            margin: 0 3rem;
            display: flex;
            align-items: center;
            &::before {
                content: "";
                display: block;
                background-image: url(../img/bullets/recomend.svg);
                background-size: 100% 100%;
                background-repeat: no-repeat;
                width: 3.4rem;
                height: 5rem;
                margin-right: 1rem;
            }
        }
        &--clients {
            margin: 0 3rem;
            display: flex;
            align-items: center;
            &::before {
                content: "";
                display: block;
                background-image: url(../img/bullets/clients.svg);
                background-size: 100% 100%;
                background-repeat: no-repeat;
                width: 4.4rem;
                height: 3.8rem;
                margin-right: 1rem;
            }
        }
    }
    &__logo {
        background-image: url(../img/bullets/Logo1.svg);
        background-size: 100% 100%;
        background-repeat: no-repeat;
        width: 5rem;
        height: 6rem;
        // outline: 2px dashed green;
        &::after {
            content: "";
            display: block;
            background-image: url(../img/bullets/Logo2.svg);
            background-size: 100% 100%;
            background-repeat: no-repeat;
            width: 3rem;
            height: 6rem;
            // outline: 2px dashed red;
            margin-left: 5rem;
            // margin-top: 2rem;
            padding-top: 4rem;
        }
    }
    &__info {
        // outline: 2px dashed red;
        width: 400px; //390
        height: 600px; //530
        margin-left: 60rem;
        font-size: 3.8rem;
    }
    &__title {
        // outline: 2px solid yellow;
        width: 340px;
        height: 140px;
        font-size: 3.2rem;
        line-height: 5rem;
        color: #383334;
        font-weight: 900;
        font-family: "Roboto";
        // display: flex;
        // margin: 0;
        // &:nth-child(2n) {
        //     border-bottom: 2px solid orangered;
        // }
    }
    &__title h1 {
        margin: 0 1rem;
        font-size: 4.4rem;
        line-height: 4.4rem;
    }
    &__title span {
        // display: inline-block;
        font-size: 3.2rem;
        margin: 0 1rem;
        // line-height: 2rem;
        &:nth-child(odd) {
            border-bottom: 4px solid #ff6b00;
        }
        &:nth-child(even) {
            border-bottom: 4px solid #a7c93d;;
        }
        // outline: 2px solid purple;
        // letter-spacing: .2rem;
    }
    // &__title:nth-child(even) {
    //     border-bottom: 2px solid #ff6b00;
    // }
    &__list {
        list-style: none;
        padding: 0;
        margin: 5rem 0 0 0;
        font-size: 2rem;
        line-height: 2.4rem;
        color: #444444;
        font-weight: 400;
        font-family: "Roboto";
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        // outline: 2px dashed blue;
    }
    &__item {
        margin: 0 0 0 8rem;
        width: 40rem;
        &:first-child {
            display: flex;
            align-items: center;
            // justify-content: flex-end;
            &::before {
                // outline: 2px dashed purple;
                content: "2в1";
                display: flex;
                justify-content: center;
                align-items: center;
                background-color: #a7c93d;
                width: 4rem;
                height: 4rem;
                border-radius: 50%;
                margin: 0 2rem 0 1rem;
                // padding: .5rem 0 0 0;
                color: #fff;
                font-weight: 700;
                border: 8px solid #e8edc9;
                // text-align: center;
                // vertical-align: middle;
                font-size: 1.7rem;
                line-height: 4.5rem;
                    // font-family: 'Roboto';
            }
        }
        &:nth-child(2) {
            display: flex;
            align-items: center;
            &::before {
                // outline: 2px dashed purple;
                content: "1";
                display: flex;
                justify-content: center;
                align-items: center;
                background-color: #a7c93d;
                width: 4rem;
                height: 4rem;
                border-radius: 50%;
                margin: 0 2rem 0 1rem;
                color: #fff;
                font-weight: 700;
                border: 8px solid #e8edc9;
                font-size: 1.7rem;
                line-height: 4.5rem;
                // background-image: url(../img/arrow.svg);
                // z-index: 50;
                // position: relative;
            }
        }
        &:nth-child(2) span {
            border-bottom: 3px solid #ff6b00;
        }
        &:last-child {
            display: flex;
            align-items: center;
            &::before {
                // outline: 2px dashed purple;
                content: "2";
                display: flex;
                width: 4rem;
                height: 4rem;
                justify-content: center;
                align-items: center;
                background-color: #a7c93d;
                border-radius: 50%;
                margin: 0 2rem 0 1rem;
                color: #fff;
                font-weight: 700;
                border: 8px solid #e8edc9;
                font-size: 1.7rem;
                line-height: 4.5rem;
            }
        }
        &:last-child span {
            border-bottom: 3px solid #a7c93d;
        }
    }
    &__item b {
        color: #000;
        font-weight: 500;
    }
    &__arrow {
        background-image: url(../img/arrow.svg);
        width: 1rem;
        height: 15rem;
        // outline: 2px solid red;
        position: absolute;
        top: 40.5rem;
        left: 123.8rem;
    }
    &__form {
        display: flex;
        align-items: stretch;
    }
    &__order {
        width: 25.5rem;
        height: 54rem;
        background-color: #fff;
        // outline: 2px dashed red;
        border: 7px solid #a8ca3f;
        // z-index: 500;
        border-radius: 15px;
        z-index: 10;
    }
    &__delivery {
        width: 15rem;
        height: 3.5rem;
        background: linear-gradient(to left, #f3f8fd, #f5faff);
        // outline: 2px dashed red;
        border: 7px solid #a8ca3f;
        border-top: none;
        border-radius: 0 0 15px 15px;
        // text-align: right;
        margin: -0.7rem auto;
        // vertical-align: bottom;
        display: flex;
        align-items: flex-start;
        // justify-content: center;
    }
    &__delivery span {
        // outline: 2px dashed green;
        font-size: 16px;
        line-height: 18px;
        color: #444444;
        font-weight: 400;
        font-family: "Roboto";
        display: flex;
        align-items: flex-start;
        justify-content: center;
        padding: 0 1rem 0 0;
        // padding-bottom: 6rem;
        &::before {
            content: '';
            width: 3rem;
            height: 2rem;
            display: inline-flex;
            // align-items: ;
            // justify-content: center;
            // outline: 2px dashed red;
            background: url(../img/form/Delivery.svg);
            margin: 0 .8rem;
        }
    }
    &__deficit {
        font-size: 20px;
        line-height: 22px;
        color: #000000;
        font-weight: 400;
        font-family: "Roboto";
        text-align: center;
        margin-top: 2rem;
    }
    &__deficit span {
        color: #ff6b00;
    }
    &__prices {
        display: flex;
        justify-content: space-evenly;
        align-items: baseline;
        // align-items: center;
        margin-top: 1.8rem;
        color: #000;
    }
    &__prices span {
        font-size: 14px;
        color: #666666;
        line-height: 24px;
        font-family: "Roboto";
        font-weight: 400;
    }
    &__price {
        // margin-bottom: 5rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        &--old {
            font-size: 34px;
            line-height: 24px;
            color: #0b0b0b;
            font-weight: 300;
            font-family: "Roboto";
            margin-top: 1rem;
            position: relative;
            &::before {
                content: '';
                display: block; 
                background: url(../img/form/cross.svg);
                background-repeat: no-repeat;
                background-size: contain;
                width: 8rem;
                height: 3rem;
                position: absolute;
                top: -.2rem;
                left: -.2rem;
            }
            &::after {
                content: '₽';
            } 
        }
        &--new {
            font-size: 34px;
            color: #000000;
            line-height: 24px;
            font-family: "Roboto";
            font-weight: 900;
            background-color: #ffcb02;
            width: 10.6rem;
            height: 4rem;
            border-radius: 4px;
            margin: .2rem 0 1.5rem 0;
            display: flex;
            // text-align: center;
            justify-content: center;
            align-items: center;
            &::after {
                content: '₽';
            }
        }
    }
    &__inputs {
        // width: 22rem;
        // height: 6.4rem;
        // margin;
        display: flex;
        flex-direction: column;
        // justify-content: center;
        align-items: center;
        position: relative;
        // outline: 2px dashed green;
    }
    &__name {
        display: flex;
        width: 22rem;
        height: 6.4rem;
        // margin: 0 auto;
        border-radius: 3rem;
        // border: none;
        background-color: #eef2f7;
        margin-bottom: 1rem;
        padding-left: 5rem;
        // outline: none;
        &::before {
            content: '';
            display: block;
            position: absolute;
            background: url(../img/form/person.svg);
            background-repeat: no-repeat;
            width: 2rem;
            height: 2.3rem;
            background-size: contain;
            top: 2rem;
            left: 3rem;
            // outline: 2px dashed red;
            // z-index: 50;
        }
    }
    &__name input {
        outline: none;
        border: none;
        background-color: #eef2f7;
        width: 14rem;
    }
    &__phone {
        display: flex;
        width: 22rem;
        height: 6.4rem;
        // margin: 0 auto;
        border-radius: 3rem;
        // border: none;
        background-color: #eef2f7;
        margin-bottom: 1rem;
        padding-left: 5rem;
        // outline: none;
        &::before {
            content: '';
            display: block;
            position: absolute;
            background: url(../img/form/phone.svg);
            background-repeat: no-repeat;
            width: 2rem;
            height: 2.3rem;
            background-size: contain;
            top: 9.5rem;
            left: 3rem;
            // outline: 2px dashed red;
            // z-index: 50;
        }
    }
    &__phone input {
        outline: none;
        border: none;
        background-color: #eef2f7;
        width: 14rem;
    }
    &__btn {
        width: 22rem;
        height: 6.4rem;
        border-radius: 3rem;
        background-color: #ffc002;
        margin-bottom: 2rem;
        // padding-left: 5rem;
        margin-left: 1rem;
        border: 6px solid #ffc002;
        box-shadow: inset 0px 0px 0px 2px rgba(255,211,78,1);
        // ffd34e
        outline: none;
        font-size: 28px;
        line-height: .6;
        color: #000000;
        // line-height: 22px;
        font-family: "Roboto";
        font-weight: 700;
        text-align: center;
        transition: all .4s ease-in;
        // padding-top: .5rem;
        // padding-bottom: 2rem;
        // &::after {
        //     content: 'со скидкой';
        //     font-size: 1.5rem;
        //     margin-bottom: -2rem;
        // }
        &:hover,
        &:focus,
        &:active {
            // box-shadow: inset 0px 0px 0px 2px rgba(168,202,63,1);
            background-color: #a8ca3f;
            border-color: #a8ca3f;
        }
    }
    &__btn span {
        line-height: 0;
        font-size: 1.7rem;
    }
    &__count {
        text-align: center;
        font-size: 18px;
        color: #333333;
        line-height: 18px;
        font-family: "Roboto";
        font-weight: 400;
        text-align: center;
    }
    &__count span {
        color: #a8ca3f;
    }
    &__secure {
        background-color: #eef2f7;
        font-size: 14px;
        color: #666666;
        line-height: 17px;
        font-family: "Roboto";
        font-weight: 400;
        height: 4.4rem;
        width: 100%;
        margin-top: .9rem;
        border-radius: 0 0 9px 9px;
        // border-top: none;
        // border-left: none;
        // overflow: hidden;
        // z-index: 9;
        display: flex;
        justify-content: center;
        align-items: center;
        // position: relative;
        &::before {
            content: '';
            width: 2rem;
            height: 2rem;
            display: inline-flex;
            // align-items: ;
            // justify-content: center;
            // outline: 2px dashed red;
            background: url(../img/form/secure.svg);
            background-repeat: no-repeat;
            background-size: contain;
            margin-right: 1rem;
        }
    }
    &__wrapper {
        position: relative;
    }
    &__doit {
        background: url(../img/form/arrow-down.svg);
        background-repeat: no-repeat;
        background-size: contain;
        position: absolute;
        width: 5rem;
        height: 22rem;
        top: -36rem;
        right: -4rem;
        // outline: 2px dashed red;
        transform: rotate(-2deg);
    }
    &__circle {
        background-image: url(../img/circle-border.png);
        // background-color: transparent;
        background-repeat: no-repeat;
        background-size: cover;
        width: 67rem; //56
        height: 67rem;
        z-index: 6;
        position: absolute;
        top: 10rem;
        left: 51rem;
    }
    &__waves {
        height: 12rem;
        width: 2560px;
        position: absolute;
        background-image: url(../img/waves.png);
        // background-repeat: repeat;
        background-repeat: no-repeat;
        background-size: cover;
        // background-size: 80% 100%;
        z-index: 7;
        top: 64rem;
        // right: 5rem;
        left: 0;
        // outline: 2px dashed red;
        // &::after {
        //     display: block;
        //     // outline: 2px dashed red;
        //     content: '';
        //     position: absolute;
        //     z-index: 7;
        //     top: 0rem;
        //     right: -50rem;
        //     background-image: url(../img/waves.png);
        //     height: 12rem;
        //     width: 2560px;
        // }
    }
    &__medicine {
        background-image: url(../img/medicine.png);
        background-repeat: no-repeat;
        background-size: contain;
        width: 78rem;
        height: 78rem;
        position: absolute;
        top: 48rem;
        left: 54rem;
        z-index: 8;
    }
    &__feets {
        background-image: url(../img/feets.png);
        background-repeat: no-repeat;
        background-size: contain;
        width: 88rem;
        height: 88rem;
        z-index: 7;
        position: absolute;
        top: -28rem;
        left: 40rem;
    }
    &__cost {
        position: absolute;
        top: 46.5rem;
        left: 93rem;
        // outline: 4px dashed red;
        width: 10rem;
        height: 4rem;
        background-color: #ff6b00;
        z-index: 8;
        border-radius: 5px;
        font-size: 34px;
        color: #ffffff;
        line-height: 24px;
        font-family: "Roboto";
        font-weight: 900;
        display: flex;
        justify-content: center;
        align-items: center;
        &::after {
            content: '₽';
        }
        &--second {
            position: absolute;
            top: 61.5rem;
            left: 104.5rem;
            width: 10rem;
            // outline: 4px dashed red;
            background-color: #a8ca3f;
            height: 4rem;
            border-radius: 5px;
            z-index: 8;
            color: #ffffff;
            font-size: 34px;
            font-family: "Roboto";
            line-height: 24px;
            display: flex;
            font-weight: 900;
            align-items: center;
            justify-content: center;
            &::after {
                content: '₽';
            }
        }
    }
}

#new-price {
    color: #000;
}

#firstLabel {
    display: block;
    position: absolute;
    background: url(../img/form/person.svg);
    width: 2rem;
    height: 2.3rem;
    background-size: contain;
    top: 0;
    left: 0;
    outline: 2px dashed red;    
}

// #old-price {
//     margin-bottom: 1rem;
// }

.desc {
    height: 94rem;
    width: 2560px;
    background-color: #fff;
    z-index: 5;
}