@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet');

@import 'normalize',
        'mixins',
        'variables';

* {
    box-sizing: border-box;
}

html {
    height: 100%;
    font-size: 10px;
    overflow-x: hidden;
}

body {
    min-height: 100%;
    font: 1.5rem/1.6 'Roboto', sans-serif;
    background-color: rgb(204, 204, 204);
    overflow-x: hidden;
}

.container {
    margin: 0 auto;
    max-width: 135rem;
    width: 96%;
    // outline: 2px dashed red;
    @media screen and (max-width: 1024px) {
        width: 90%;
    }
}

// Start
.offer {
    width: 256rem;
    height: 70rem;
    background-color: #f3f9ff;
    background-image: url(../img/bg.png);
    @include bgBasic;
    z-index: 1;
    box-shadow: inset -130rem 0 5rem 0 rgba(243,249,255,1);
    @media screen and (max-width: 1366px) {
        width: 100%;
        box-shadow: inset -70rem 0 5rem 0 rgba(243,249,255,1);
        height: 70rem;
        background-size: cover;
    }
    @media screen and (max-width: 1024px) {
        height: 60rem;
        box-shadow: inset -50rem 0 5rem 0 rgba(243,249,255,1);
        background-size: 100% 100%;
        // outline: 2px dashed red;
    }
    @media screen and (max-width: 768px) {
        height: 45rem;
    }
    @media screen and (max-width: 414px) {
        box-shadow: inset -5rem 0 5rem 0 rgba(243,249,255,1);
    }
    @media screen and (max-width: 375px) {
        box-shadow: inset -20rem 0 5rem 0 rgba(243,249,255,1);
        height: 40rem;
    }
    
    &__wrap {
        height: 100%;
        width: 100%;
        background: linear-gradient(to left, #f3f9ff, #f3f9ff85);
        z-index: 3;
    }
    &__bullets {
        list-style: none;
        padding: 1rem 0;
        margin: 0 0 2rem 0rem;
        @include flexCenter;
        justify-content: flex-end;
        // outline: 2px dashed red;
        position: relative;
        z-index: 9;
        @media screen and (max-width: 1366px) {
            width: 100%;
        }
        @media screen and (max-width: 768px) {
            justify-content: space-between;
        }
        @media screen and (max-width: 667px) {
            flex-flow: row wrap;
            justify-content: space-evenly;
            margin: 0;
        }
        @media screen and (max-width: 414px) {
            flex-direction: column;
            justify-content: flex-start;
            align-items: flex-start;
        }
        @media screen and (max-width: 375px) {
            height: 35rem;
        }
    }
    &__bullet:first-child {
        width: 100%;
        @media screen and (max-width: 1366px) {
            width: 5rem;
        }
    }
    &__bullet:last-child {
        @media screen and (max-width: 1366px) {
            margin-right: 5rem;
        }
    }
    &__bullet {
        font-size: 1.6rem;
        line-height: 1.8rem;
        color: #666666;
        font-style: italic;
        @media screen and (max-width: 1366px) {
            font-size: 1.4rem;
        }
        @media screen and (max-width: 768px) {
            width: 60%;
        }
        @media screen and (max-width: 667px) {
            font-size: 1.2rem;
        }
        @media screen and (max-width: 414px) {
            font-size: 1.5rem;
            height: 6rem;
            width: 70%;
        }
        @media screen and (max-width: 375px) {
            font-size: 1.4rem;
        }
        &--name {
            font-size: 2.2rem;
            line-height: 4rem;
            color: #383334;
            font-weight: 900;
            font-style: normal;
            margin: 0 5rem;
            @media screen and (max-width: 1366px) {
                margin: 0 7rem 0 5rem;
            }
            @media screen and (max-width: 1024px) {
                margin: 0 4rem 0 10rem;
            }
            @media screen and (max-width: 768px) {
                margin: 0 2rem;
            }
            @media screen and (max-width: 667px) {
                width: 100%;
                font-size: 2rem;
                text-align: center;
            }
            @media screen and (max-width: 414px) {
                text-align: center;
                width: 100%;
                margin: 0 auto;
                height: 4rem;
            }
        }
        &--medal {
            margin: 0 3rem;
            @include flexCenter;
            @media screen and (max-width: 768px) {
                margin: 0 1rem;
            }
            @media screen and (max-width: 667px) {
                height: 5rem;
                width: 36%;
                background-color: rgba(243,249,255, .9);
                border-radius: 30px;
                margin: 0;
            }
            @media screen and (max-width: 414px) {
                margin: 0;
                width: 70%;
            } 
            &::before {
                content: "";
                display: block;
                background-image: url(../img/bullets/medal.svg);
                @include bgBasic;
                width: 4.4rem;
                height: 4.4rem;
                margin-right: 1rem;
                @media screen and (max-width: 667px) {
                    width: 4rem;
                    height: 3rem;
                }
            }
        }
        &--recomend {
            margin: 0 3rem;
            @include flexCenter;
            @media screen and (max-width: 768px) {
                margin: 0 1rem;
            }
            @media screen and (max-width: 667px) {
                height: 5rem;
                width: 28%;
                background-color: rgba(243,249,255, .9);
                border-radius: 30px;
                margin: 0;
            }
            @media screen and (max-width: 414px) {
                margin: 1rem 0 1rem auto;
                width: 70%;
                justify-content: flex-start;
            } 
            &::before {
                content: "";
                display: block;
                background-image: url(../img/bullets/recomend.svg);
                @include bgBasic;
                width: 3.4rem;
                height: 5rem;
                margin-right: 1rem;
                @media screen and (max-width: 667px) {
                    width: 2.5rem;
                    height: 3.5rem;
                }
                @media screen and (max-width: 414px) {
                    margin-left: 3rem;
                }
            }
        }
        &--clients {
            margin: 0 3rem;
            @include flexCenter;
            @media screen and (max-width: 768px) {
                margin: 0 1rem;
            }
            @media screen and (max-width: 667px) {
                height: 5rem;
                width: 30%;
                margin: 0;
                background-color: rgba(243,249,255, 1);
                border-radius: 30px;
            }
            @media screen and (max-width: 414px) {
                width: 70%;
                margin: 0;
            } 
            &::before {
                content: "";
                display: block;
                background-image: url(../img/bullets/clients.svg);
                @include bgBasic;
                width: 4.4rem;
                height: 3.8rem;
                margin-right: 1rem;
                @media screen and (max-width: 667px) {
                    width: 4rem;
                    height: 2.5rem;
                }
            }
        }
    }
    &__logo {
        background-image: url(../img/bullets/Logo1.svg);
        @include bgBasic;
        width: 5rem;
        height: 6rem;
        // outline: 2px dashed green;
        z-index: 10;
        margin-left: 90%;
        @media screen and (max-width: 1366px) {
            margin: 0;
        }
        @media screen and (max-width: 768px) {
            margin: 0 1rem;
        }
        @media screen and (max-width: 667px) {
            width: 4rem;
            margin: 0 auto;
        }
        @media screen and (max-width: 414px) {
            width: 4rem;
            height: 5rem;
            display: block;
            margin: 0 auto;
        }
        &::after {
            content: "";
            display: block;
            background-image: url(../img/bullets/Logo2.svg);
            background-size: 100% 100%;
            background-repeat: no-repeat;
            width: 3rem;
            height: 6rem;
            // outline: 2px dashed red;
            margin-left: 5rem;
            padding-top: 4rem;
            @media screen and (max-width: 667px) {
                width: 2.5rem;
                padding-top: 2rem;
                margin-left: 4rem;
            }
            @media screen and (max-width: 414px) {
                width: 2rem;
                height: 3rem;
                margin-left: 4rem;
                padding-top: 5rem;
            }
        }
    }
    &__info {
        // outline: 2px dashed red;
        width: 40rem;
        height: 60rem;
        margin-left: 60rem;
        font-size: 3.8rem;
        @media screen and (max-width: 1366px) {
            margin-left: 57rem;
        }
        @media screen and (max-width: 1024px) {
            margin-left: 50rem;
        }
        @media screen and (max-width: 768px) {
            margin-left: 37rem;
        }
        @media screen and (max-width: 667px) {
            margin-left: 38rem;
        }
        @media screen and (max-width: 414px) {
            margin: 22rem 0 0 0;
            width: 100%;
            height: 55rem;
        }
        @media screen and (max-width: 375px) {
            margin: 20rem 0 0 0;
            width: 100%;
            height: 55rem;
        }
    }
    &__title {
        // outline: 2px solid yellow;
        width: 34rem;
        height: 14rem;
        font-size: 3.2rem;
        line-height: 5rem;
        color: #383334;
        font-weight: 900;
        @media screen and (max-width: 375px) {
            font-size: 2.8rem;
        }
        @media screen and (max-width: 667px) {
            font-size: 2.2rem;
        }
    }
    &__title h1 {
        margin: 0 1rem;
        font-size: 4.4rem;
        line-height: 4.4rem;
        @media screen and (max-width: 1366px) {
            font-size: 4rem;
            line-height: 4rem;
        }
        @media screen and (max-width: 667px) {
            font-size: 2.5rem;
            width: 50%;
        }
        @media screen and (max-width: 375px) {
            font-size: 3.8rem;
        }
    }
    &__title span {
        font-size: 3.2rem;
        margin: 0 1rem;
        @media screen and (max-width: 667px) {
            font-size: 2.2rem;
        }
        @media screen and (max-width: 375px) {
            font-size: 2.8rem;
        }
        &:nth-child(odd) {
            border-bottom: .4rem solid $orangeBrand;
        }
        &:nth-child(even) {
            border-bottom: .4rem solid $greenBrand;;
        }
        // outline: 2px solid purple;
    }
    &__list {
        @include listClear;
        margin: 5rem 0 0 0;
        font-size: 2rem;
        line-height: 2.4rem;
        color: #444444;
        font-weight: 400;
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        // outline: 2px dashed blue;
        @media screen and (max-width: 1024px) {
            margin-top: 7rem;
            align-items: flex-start;
        }
        @media screen and (max-width: 768px) {
            margin-top: 22rem;
        }
        @media screen and (max-width: 667px) {
            margin-top: 18rem;
        }
        @media screen and (max-width: 414px) {
            margin-top: 6rem;
        }
        @media screen and (max-width: 375px) {
            margin-top: 12rem;
        }
    }
    &__item {
        margin: 0 0 0 8rem;
        width: 40rem;
        position: relative;
        z-index: 10;
        @media screen and (max-width: 1024px) {
            margin-left: 0rem;
        }
        @media screen and (max-width: 414px) {
            width: 42rem;
        }
        @media screen and (max-width: 768px) {
            width: 35rem;
        }
        &:first-child {
            @include flexCenter;
            justify-content: flex-start;
            &::before {
                // outline: 2px dashed purple;
                content: "2в1";
                @include flexCenter;
                background-color: $greenBrand;
                width: 4rem;
                height: 4rem;
                border-radius: 50%;
                margin: 0 2rem 0 1rem;
                color: #fff;
                font-weight: 700;
                border: .8rem solid #e8edc9;
                font-size: 1.7rem;
                line-height: 4.5rem;
                @media screen and (max-width: 768px) {
                    margin-left: -5rem;
                }
                @media screen and (max-width: 667px) {
                    margin-left: -15rem;
                }
                @media screen and (max-width: 414px) {
                    margin-left: 0;
                }
            }
        }
        &:nth-child(2) {
            @include flexCenter;
            justify-content: flex-start;
            @media screen and (max-width: 1024px) {
                margin: 3rem 0;
            }
            &::before {
                // outline: 2px dashed purple;
                content: "1";
                @include flexCenter;
                background-color: $greenBrand;
                width: 4rem;
                height: 4rem;
                border-radius: 50%;
                margin: 0 2rem 0 1rem;
                color: #fff;
                font-weight: 700;
                border: .8rem solid #e8edc9;
                font-size: 1.7rem;
                line-height: 4.5rem;
                @media screen and (max-width: 1024px) {
                    margin-left: 3.5rem;
                }
                @media screen and (max-width: 768px) {
                    margin-left: -12rem;
                }
                @media screen and (max-width: 667px) {
                    margin-left: -20rem;
                }
                @media screen and (max-width: 414px) {
                    margin-left: 0;
                }
            }
        }
        &:nth-child(2) span {
            border-bottom: .3rem solid $orangeBrand;
        }
        &:last-child {
            @include flexCenter;
            justify-content: flex-start;
            &::before {
                // outline: 2px dashed purple;
                content: "2";
                @include flexCenter;
                width: 4rem;
                height: 4rem;
                background-color: $greenBrand;
                border-radius: 50%;
                margin: 0 2rem 0 1rem;
                color: #fff;
                font-weight: 700;
                border: .8rem solid #e8edc9;
                font-size: 1.7rem;
                line-height: 4.5rem;
                @media screen and (max-width: 1024px) {
                    margin-left: 7rem;
                }
                @media screen and (max-width: 768px) {
                    margin-left: -19rem;
                }
                @media screen and (max-width: 667px) {
                    margin-left: -25rem;
                }
                @media screen and (max-width: 414px) {
                    margin-left: 0;
                }
            }
        }
        &:last-child span {
            border-bottom: .3rem solid $greenBrand;
        }
    }
    &__item b {
        color: #000;
        font-weight: 500;
    }
    &__item p {
        @media screen and (max-width: 1366px) {
            margin: 1rem 0;
            font-size: 1.5rem;
        }
        @media screen and (max-width: 1024px) {
            margin: 0;
        }
    }
    &__arrow {
        background-image: url(../img/arrow.svg);
        width: 1rem;
        height: 15rem;
        // outline: 2px solid red;
        position: absolute;
        top: 39rem;
        left: 123.8rem;
        @media screen and (max-width: 1366px) {
            left: 63rem;
            top: 36.5rem;
        }
        @media screen and (max-width: 1024px) {
            left: 61rem;
            top: 39rem;
            z-index: 10;
            transform: rotate(-14deg);
        }
        @media screen and (max-width: 768px) {
            left: 31rem;
            top: 54rem;
            transform: rotate(32deg);
        }
        @media screen and (max-width: 667px) {
            left: 23rem;
            top: 56rem;
            transform: rotate(25deg);
        }
        @media screen and (max-width: 414px) {
            left: 4.5rem;
            top: 84rem;
            transform: rotate(0deg);
        }
        @media screen and (max-width: 375px) {
            left: 4.2rem;
            top: 88rem;
            transform: rotate(0deg);
        }
    }
    &__form {
        display: flex;
        align-items: stretch;
        @media screen and (max-width: 1024px) {
            flex-direction: column;
        }
    }
    &__order {
        width: 25.5rem;
        height: 54rem;
        background-color: #fff;
        // outline: 2px dashed red;
        border: .7rem solid #a8ca3f;
        border-radius: 1.5rem;
        z-index: 10;
        @media screen and (max-width: 1366px) {
            margin-left: 2rem;
        }
        @media screen and (max-width: 1024px) {
            margin: 5rem auto 0 auto;
            width: 60rem;
        }
        @media screen and (max-width: 768px) {
            margin-top: 10rem;
            height: 55.6rem;
        }
        @media screen and (max-width: 414px) {
            width: 100%;
            margin: 6rem 0 0 0;
            height: 55.5rem;
        }
        @media screen and (max-width: 375px) {
            width: 100%;
            margin: 5rem 0;
            height: 55.5rem;
        }
    }
    &__delivery {
        width: 15rem;
        height: 3.5rem;
        background: linear-gradient(to left, #f3f8fd, #f5faff);
        // outline: 2px dashed red;
        border: .7rem solid #a8ca3f;
        border-top: none;
        border-radius: 0 0 1.5rem 1.5rem;
        margin: -0.7rem auto;
        display: flex;
        align-items: flex-start;
        @media screen and (max-width: 1024px) {
            background: #fff;
            margin: -0.7rem auto;
            width: 20rem;
            align-items: center;
            justify-content: center;
        }
        @media screen and (max-width: 768px) {
            height: 5rem;
        }
    }
    &__delivery span {
        // outline: 2px dashed green;
        font-size: 1.6rem;
        line-height: 1.8rem;
        color: #444444;
        font-weight: 400;
        @include flexCenter;
        justify-content: flex-start;
        padding: 0 1rem 0 0;
        @media screen and (max-width: 1024px) {
            font-size: 1.8rem;
        }
        &::before {
            content: '';
            width: 3rem;
            height: 2rem;
            // outline: 2px dashed red;
            background: url(../img/form/Delivery.svg);
            margin: 0 1rem;
        }
    }
    &__deficit {
        font-size: 2rem;
        line-height: 2.2rem;
        color: #000;
        font-weight: 400;
        text-align: center;
        margin-top: 2rem;
    }
    &__deficit span {
        color: $orangeBrand;
    }
    &__prices {
        display: flex;
        justify-content: space-evenly;
        align-items: baseline;
        margin-top: 1.8rem;
        color: #000;
        @media screen and (max-width: 1024px) {
            margin: 1.8rem 6rem 0 6rem;
        }
        @media screen and (max-width: 414px) {
            justify-content: space-between;
        }
        @media screen and (max-width: 375px) {
            justify-content: space-evenly;
            margin: 1.8rem 0 0 0;
        }
    }
    &__prices span {
        font-size: 1.4rem;
        color: #666666;
        line-height: 2.4rem;
        font-weight: 400;
    }
    &__price {
        @include flexCenter;
        flex-direction: column;
        &--old {
            font-size: 3.4rem;
            line-height: 2.4rem;
            color: #0b0b0b;
            font-weight: 300;
            margin-top: 1rem;
            position: relative;
            &::before {
                content: '';
                display: block; 
                background: url(../img/form/cross.svg);
                @include bgBasic;
                width: 8rem;
                height: 3rem;
                position: absolute;
                top: -.2rem;
                left: -.2rem;
            }
            &::after {
                content: '₽';
            } 
        }
        &--new {
            font-size: 3.4rem;
            color: #000000;
            line-height: 2.4rem;
            font-weight: 900;
            background-color: #ffcb02;
            width: 10.6rem;
            height: 4rem;
            border-radius: .4rem;
            margin: .2rem 0 1.5rem 0;
            @include flexCenter;
            &::after {
                content: '₽';
            }
        }
    }
    &__inputs {
        @include flexCenter;
        flex-direction: column;
        position: relative;
        // outline: 2px dashed green;
    }
    &__name {
        display: flex;
        width: 22rem;
        height: 6.4rem;
        border-radius: 3rem;
        background-color: #eef2f7;
        margin-bottom: 1rem;
        padding-left: 5rem;
        @media screen and (max-width: 1024px) {
            width: 32rem;
        }
        @media screen and (max-width: 414px) {
            width: 28rem;
        }
        &::before {
            content: '';
            display: block;
            position: absolute;
            background: url(../img/form/person.svg);
            @include bgBasic;
            width: 2rem;
            height: 2.3rem;
            top: 2rem;
            left: 3rem;
            @media screen and (max-width: 1024px) {
                left: 16rem;
            }
            @media screen and (max-width: 414px) {
                left: 6.5rem;
            }
            @media screen and (max-width: 375px) {
                left: 5rem;
            }
            // outline: 2px dashed red;
        }
    }
    &__name input {
        outline: none;
        border: none;
        background-color: #eef2f7;
        width: 14rem;
        @media screen and (max-width: 1024px) {
            width: 22rem;
        }
        @media screen and (max-width: 414px) {
            width: 18rem;
        }
    }
    &__phone {
        display: flex;
        width: 22rem;
        height: 6.4rem;
        border-radius: 3rem;
        background-color: #eef2f7;
        margin-bottom: 1rem;
        padding-left: 5rem;
        @media screen and (max-width: 1024px) {
            width: 32rem;
        }
        @media screen and (max-width: 414px) {
            width: 28rem;
        }
        &::before {
            content: '';
            display: block;
            position: absolute;
            background: url(../img/form/phone.svg);
            @include bgBasic;
            width: 2rem;
            height: 2.3rem;
            top: 9.5rem;
            left: 3rem;
            // outline: 2px dashed red;
            @media screen and (max-width: 1024px) {
                left: 16rem;
            }
            @media screen and (max-width: 414px) {
                left: 6.5rem;
            }
            @media screen and (max-width: 375px) {
                left: 5rem;
            }
        }
    }
    &__phone input {
        outline: none;
        border: none;
        background-color: #eef2f7;
        width: 14rem;
        @media screen and (max-width: 1024px) {
            width: 22rem;
        }
        @media screen and (max-width: 414px) {
            width: 18rem;
        }
    }
    &__btn {
        width: 22rem;
        height: 6.4rem;
        border-radius: 3rem;
        background-color: #ffc002;
        margin-bottom: 2rem;
        margin-left: 1rem;
        border: .6rem solid #ffc002;
        box-shadow: inset 0 0 0 .2rem rgba(255,211,78,1);
        outline: none;
        font-size: 2.8rem;
        line-height: .6;
        color: #000;
        font-weight: 700;
        text-align: center;
        transition: all .4s ease-in;
        @media screen and (max-width: 1024px) {
            width: 32rem;
            display: block;
            margin: 0 auto 2rem auto;
        }
        @media screen and (max-width: 414px) {
            width: 28rem;
        }
        &:hover,
        &:focus,
        &:active {
            background-color: #a8ca3f;
            border-color: #a8ca3f;
        }
    }
    &__btn span {
        line-height: 0;
        font-size: 1.7rem;
    }
    &__count {
        text-align: center;
        font-size: 1.8rem;
        color: #333;
        line-height: 1.8rem;
        font-weight: 400;
        text-align: center;
    }
    &__count span {
        color: #a8ca3f;
    }
    &__secure {
        background-color: #eef2f7;
        font-size: 1.4rem;
        color: #666;
        line-height: 1.7rem;
        font-weight: 400;
        height: 4.4rem;
        width: 100%;
        margin-top: .9rem;
        border-radius: 0 0 .9rem .9rem;
        @include flexCenter;
        &::before {
            content: '';
            width: 2rem;
            height: 2rem;
            display: inline-flex;
            // outline: 2px dashed red;
            background: url(../img/form/secure.svg);
            @include bgBasic;
            margin-right: 1rem;
        }
    }
    &__wrapper {
        position: relative;
    }
    &__doit {
        background: url(../img/form/arrow-down.svg);
        @include bgBasic;
        position: absolute;
        width: 5rem;
        height: 22rem;
        top: -36rem;
        right: -4rem;
        // outline: 2px dashed red;
        transform: rotate(-2deg);
        @media screen and (max-width: 1024px) {
            right: 9rem;
            transform: rotate(-7deg);
        }
        @media screen and (max-width: 414px) {
            right: 0rem;
        }
        @media screen and (max-width: 375px) {
            right: -2rem;
        }
    }
    &__circle {
        background-image: url(../img/circle-border.png);
        background-repeat: no-repeat;
        background-size: cover;
        width: 67rem;
        height: 67rem;
        z-index: 6;
        position: absolute;
        top: 10rem;
        left: 51rem;
        @media screen and (max-width: 1366px) {
            width: 47rem;
            height: 47rem;
            left: 6rem;
        }
        @media screen and (max-width: 768px) {
            width: 30rem;
            height: 30rem;
            top: 8rem;
        }
        @media screen and (max-width: 375px) {
            width: 30rem;
            height: 30rem;
            left: 5rem;
            top: 4rem;
        }
    }
    &__waves {
        height: 10rem;
        width: 256rem;
        position: absolute;
        background-image: url(../img/waves.png);
        background-repeat: no-repeat;
        background-size: cover;
        z-index: 7;
        top: 68rem;
        left: 0;
        // outline: 2px dashed red;
        @media screen and (max-width: 1366px) {
            top: 65rem;
        }
        @media screen and (max-width: 1024px) {
            top: 52rem;
            width: 100%;
        }
        @media screen and (max-width: 768px) {
            top: 37rem;
        }
        @media screen and (max-width: 375px) {
            top: 32rem;
        }
    }
    &__medicine {
        background-image: url(../img/medicine.png);
        @include bgBasic;
        width: 78rem;
        height: 50rem;
        position: absolute;
        top: 48rem;
        left: 54rem;
        z-index: 8;
        @media screen and (max-width: 1366px) {
            width: 65rem;
            height: 35rem;
            left: 10rem;
            top: 44rem;
        }
        @media screen and (max-width: 1024px) {
            width: 60rem;
            height: 50rem;
            left: 10rem;
            top: 42rem;
        }
        @media screen and (max-width: 768px) {
            width: 40rem;
            height: 50rem;
            left: 8rem;
            top: 25rem;
        }
        @media screen and (max-width: 414px) {
            top: 34rem;
            left: 2rem;
        }
        @media screen and (max-width: 375px) {
            left: 1rem;
            top: 35rem;
            width: 38rem;
        }
    }
    &__feets {
        background-image: url(../img/feets.png);
        @include bgBasic;
        width: 88rem;
        height: 88rem;
        z-index: 7;
        position: absolute;
        top: -28rem;
        left: 40rem;
        @media screen and (max-width: 1366px) {
            width: 60rem;
            height: 60rem;
            left: 0;
            top: -10rem;
        }
        @media screen and (max-width: 1024px) {
            overflow: hidden;
        }
        @media screen and (max-width: 768px) {
            width: 40rem;
            height: 40rem;
        }
    }
    &__cost {
        position: absolute;
        top: 46.5rem;
        left: 93rem;
        // outline: 4px dashed red;
        width: 10rem;
        height: 4rem;
        background-color: $orangeBrand;
        z-index: 8;
        border-radius: .5rem;
        font-size: 3.4rem;
        color: #fff;
        line-height: 2.4rem;
        font-weight: 900;
        @include flexCenter;
        @media screen and (max-width: 1366px) {
            left: 38rem;
            top: 43rem;
        }
        @media screen and (max-width: 768px) {
            left: 24rem;
            top: 24rem;
        }
        @media screen and (max-width: 414px) {
            left: 19rem;
            top: 32rem;
        }
        @media screen and (max-width: 375px) {
            left: 16rem;
            top: 34rem;
        }
        &::after {
            content: '₽';
        }
        &--second {
            position: absolute;
            top: 61.5rem;
            left: 104.5rem;
            width: 10rem;
            // outline: 4px dashed red;
            background-color: #a8ca3f;
            height: 4rem;
            border-radius: .5rem;
            z-index: 8;
            color: #fff;
            font-size: 3.4rem;
            line-height: 2.4rem;
            font-weight: 900;
            @include flexCenter;
            @media screen and (max-width: 1366px) {
                left: 47rem;
                top: 55rem;
            }
            @media screen and (max-width: 768px) {
                left: 31rem;
                top: 31rem;
            }
            @media screen and (max-width: 414px) {
                left: 25rem;
                top: 40rem;
            }
            @media screen and (max-width: 375px) {
                left: 23rem;
                top: 41rem;
            }
            &::after {
                content: '₽';
            }
        }
    }
}

#new-price {
    color: #000;
}

#firstLabel {
    display: block;
    position: absolute;
    background: url(../img/form/person.svg);
    width: 2rem;
    height: 2.3rem;
    background-size: contain;
    top: 0;
    left: 0;
    // outline: 2px dashed red;    
}

.desc {
    height: 100rem;
    width: 256rem;
    background-color: #fff;
    z-index: 5;
    padding-top: 20rem;
    @media screen and (max-width: 1366px) {
        width: 100%;
        padding-top: 8rem;
        height: 90rem;
    }
    @media screen and (max-width: 1024px) {
        padding-top: 75rem;
        height: 250rem;
    }
    @media screen and (max-width: 768px) {
        padding-top: 100rem;
        height: 245rem;
    }
    @media screen and (max-width: 667px) {
        height: 220rem;
    }
    @media screen and (max-width: 414px) {
        height: 320rem;
        padding-top: 135rem;
    }
    @media screen and (max-width: 375px) {
        padding-top: 135rem;
        height: 345rem;
    }
    &__title {
        width: 99%;
        height: 78rem;
        // outline: 2px dashed red;
        z-index: 6;
        @include flexCenter;
        justify-content: flex-start;
        flex-direction: column;
    }
    &__logo {
        background-image: url(../img/bullets/Logo1.svg);
        background-size: 100% 100%;
        background-repeat: no-repeat;
        width: 5rem;
        height: 6rem;
        // outline: 2px dashed green;
        z-index: 8;
        &::after {
            content: "";
            display: block;
            background-image: url(../img/bullets/Logo2.svg);
            background-size: 100% 100%;
            background-repeat: no-repeat;
            width: 3rem;
            height: 6rem;
            // outline: 2px dashed red;
            margin-left: 5rem;
            padding-top: 4rem;
        }
    }
    &__text {
        margin-top: 2rem;
        font-size: 4.8rem;
        line-height: 4.8rem;
        color: #383334;
        font-weight: 900;
        text-align: center;
        margin-bottom: 3rem;
        @media screen and (max-width: 1366px) {
            font-size: 3.7rem;
        }
        @media screen and (max-width: 375px) {
            font-size: 4rem;
        }
        &--second {
            font-size: 2.4rem;
            color: #2b2828;
            line-height: 2.8rem;
            font-weight: 700;
            text-align: center;
            margin-bottom: 5rem;
            @media screen and (max-width: 1366px) {
                font-size: 2rem;
            }
            @media screen and (max-width: 1024px) {
                width: 90rem;
            }
            @media screen and (max-width: 768px) {
                width: 100%;
            }
            @media screen and (max-width: 375px) {
                font-size: 1.5rem;
            }
        }
    }
    &__list {
        width: 100%;
        @include flexCenter;
        margin-bottom: 7rem;
        // outline: 2px dashed green;
        align-items: flex-start;
        @media screen and (max-width: 1366px) {
            justify-content: space-evenly;
        }
        @media screen and (max-width: 667px) {
            flex-flow: row wrap;
        }
        @media screen and (max-width: 414px) {
            flex-direction: column;
        }
    }
    &__wrap {
        @include flexCenter;
        justify-content: flex-start;
        @media screen and (max-width: 1024px) {
            justify-content: center;
            width: 27rem;
        }
        @media screen and (max-width: 768px) {
            width: 22rem;
            align-items: stretch;
        }
    }
    &__pic {
        width: 16.8rem;
        height: 16.8rem;
        // outline: 2px dashed red;
        overflow: hidden;
        border-radius: 50%;
        outline: none;
        @media screen and (max-width: 1366px) {
            width: 12rem;
            height: 12rem;
        }
        @media screen and (max-width: 768px) {
            width: 8rem;
            height: 8rem;
        }
        &--first {
            width: 16.8rem;
            height: 16.8rem;
            background: url(../img/description/spine.png);
            background-repeat: no-repeat;
            background-position: -2.5rem 0rem;
            background-size: cover;
            transform: scale(1.1);
            @media screen and (max-width: 1366px) {
                width: 12rem;
                height: 12rem;
                background-size: 14rem 14rem;
                background-position: -.5rem 0;
            }
            @media screen and (max-width: 768px) {
                width: 8rem;
                height: 8rem;
                background-size: cover;
                background-position: -1rem 0;
            }
        }
        &--second {
            border-radius: 50%;
            width: 16.8rem;
            height: 16.8rem;
            background: url(../img/description/feet.png) no-repeat;
            background-position: -9rem -1rem;
            background-size: cover;
            background-repeat: no-repeat;
            transform: scale(1.2);
            @media screen and (max-width: 1366px) {
                width: 12rem;
                height: 12rem;
                background-position: -7rem -1rem;
            }
            @media screen and (max-width: 768px) {
                width: 8rem;
                height: 9rem;
                background-position: -5.5rem -0.5rem;
            }
        }
        &--third {
            border-radius: 50%;
            width: 16.8rem;
            height: 16.8rem;
            background: url(../img/description/defeat.png);
            background-repeat: no-repeat;
            background-position: -2.5rem 0rem;
            background-size: cover;
            transform: scale(1);
            @media screen and (max-width: 1366px) {
                width: 12rem;
                height: 12rem;
            }
            @media screen and (max-width: 768px) {
                width: 8rem;
                height: 8rem;
                background-position: -1rem 0;
            }
        }
    }
    &__item:nth-child(2) {
        margin: 0 3rem;
        @media screen and (max-width: 1024px) {
            margin: 0 2rem;
        }
        @media screen and (max-width: 414px) {
            margin: 5rem 0 0 0;
        }
    }
    &__item:nth-child(3) {
        margin-left: 1rem;
        @media screen and (max-width: 667px) {
            margin-top: 3rem;
        }
        @media screen and (max-width: 414px) {
            margin: 5rem 0 0 0;
        }
    }
    &__about {
        font-size: 2.2rem;
        line-height: 2.6rem;
        color: #000;
        font-weight: 500;
        margin-left: 2rem;
        // outline: 2px dashed red;
        @media screen and (max-width: 768px) {
            font-size: 1.5rem;
        }
    }
    &__note {
        width: 37.1rem;
        font-size: 1.8rem;
        line-height: 2.8rem;
        color: #444;
        font-weight: 400;
        @media screen and (max-width: 1366px) {
            width: 30rem;
        }
        @media screen and (max-width: 1024px) {
            width: 24rem;
            margin-left: 1.5rem;
        }
        @media screen and (max-width: 768px) {
            width: 20rem;
            font-size: 1.4rem;
        }
        @media screen and (max-width: 375px) {
            font-size: 1.5rem;
        }
        &::before {
            content: '';
            width: 5rem;
            height: .3rem;
            background-color: #becbd8;
            display: block;
            margin: 3rem 0 2rem 0;
            @media screen and (max-width: 768px) {
                margin: 1rem 0 1rem 0;
            }
            @media screen and (max-width: 375px) {
                margin: 2rem 0 1rem 0;
            }
        }
    }
    &__note:first-child {
        @media screen and (max-width: 1024px) {
            margin-left: 1rem;
        }
    }
    &__circle--first {
        width: 18.8rem;
        height: 11.7rem;
        // outline: 2px dashed red;
        background: url(../img/description/circle-first.svg);
        background-repeat: no-repeat;
        position: absolute;
        top: 111.5rem;
        left: 66.2rem;
        @media screen and (max-width: 1366px) {
            background-size: contain;
            width: 14rem;
            height: 10rem;
            top: 100rem;
            left: 9rem;
        }
        @media screen and (max-width: 1024px) {
            top: 160rem;
            left: 7.5rem;
        }
        @media screen and (max-width: 768px) {
            top: 175rem;
            left: 3.7rem;
            width: 10rem;
        }
        @media screen and (max-width: 667px) {
            left: 10.2rem;
        }
        @media screen and (max-width: 414px) {
            top: 217.6rem;
            left: 3.2rem;
        }
        @media screen and (max-width: 375px) {
            top: 209.7rem;
            left: 3rem;
        }
    }
    &__circle--second {
        width: 18.8rem;
        height: 11.7rem;
        // outline: 2px dashed red;
        background: url(../img/description/circle-second.svg);
        position: absolute;
        top: 111.5rem;
        left: 106.2rem;
        background-repeat: no-repeat;
        @media screen and (max-width: 1366px) {
            background-size: contain;
            width: 14rem;
            height: 10rem;
            top: 100rem;
            left: 49.5rem;
        }
        @media screen and (max-width: 1024px) {
            top: 160rem;
            left: 35.2rem;
        }
        @media screen and (max-width: 768px) {
            top: 175rem;
            left: 26.6rem;
            width: 10rem;
        }
        @media screen and (max-width: 667px) {
            left: 33.2rem;
        }
        @media screen and (max-width: 414px) {
            top: 248.8rem;
            left: 2.2rem;
        }
        @media screen and (max-width: 375px) {
            top: 241.7rem;
            left: 2rem;
        }
    }
    &__circle--third {
        width: 18.8rem;
        height: 11.7rem;
        // outline: 2px dashed red;
        background: url(../img/description/circle-third.svg);
        position: absolute;
        top: 111.5rem;
        left: 147.5rem;
        background-repeat: no-repeat;
        @media screen and (max-width: 1366px) {
            width: 14rem;
            height: 10rem;
            left: 91.5rem;
            top: 100rem;
            background-size: contain;
        }
        @media screen and (max-width: 1024px) {
            top: 160rem;
            left: 65.5rem;
        }
        @media screen and (max-width: 768px) {
            top: 175rem;
            left: 52.1rem;
            width: 10rem;
        }
        @media screen and (max-width: 667px) {
            left: 23.2rem;
            top: 204.2rem;
        }
        @media screen and (max-width: 414px) {
            top: 279.9rem;
            left: 2.7rem;
        }
        @media screen and (max-width: 375px) {
            top: 276.3rem;
            left: 2.5rem;
        }
    }
    &__stat {
        width: 116rem;
        height: 13rem;
        border: 3px solid #f3d3bb;
        border-radius: .8rem;
        @include flexCenter;
        flex-direction: column;
        position: relative;
        @media screen and (max-width: 1024px) {
            padding-top: 3rem;
            width: 90%;
            height: 14rem;
        }
        @media screen and (max-width: 667px) {
            height: 18rem;
        }
        @media screen and (max-width: 414px) {
            height: 40rem;
        }
        @media screen and (max-width: 375px) {
            height: 50rem;
        }
        &::before {
            content: '';
            background: url(../img/description/stat.svg) no-repeat;
            background-color: #fff;
            background-position: 50% 0;
            width: 17rem;
            height: 4rem;
            position: absolute;
            top: 0;
            left: 50%;
            transform: translate(-50%, -2rem);
            // outline: 2px dashed red;
            @media screen and (max-width: 1024px) {
                top: -1rem;
            }
        }
        &--text {
            font-size: 2.2rem;
            color: #000;
            line-height: 2.8rem;
            font-weight: 500;
            text-align: center;
            @media screen and (max-width: 1024px) {
                height: 14rem;
            }
            @media screen and (max-width: 414px) {
                height: 20rem;
                padding: 0 1rem;
                text-align: left;
            }
            @media screen and (max-width: 667px) {
                height: 22rem;
            }
            @media screen and (max-width: 375px) {
                height: 23rem;
                text-align: left;
                padding: 0 1rem;
            }
        }
        &--text span {
            color: #444;
        }
    }
}